/* //No structure Directly Write Css Code */

div{
    background-color: beige;
    text-align: center;
    color: blue;
    width: 250px;
}

div p{
  color: red;
}


h1{
    font-family: cursive;
    color: red;
}